1.1 Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [35]:
# Reduce will produce a single result
def myreduce(anyfunc, sequence):

 # Get first item in sequence and assign to result
  result = sequence[0]
 # iterate over remaining items in sequence and apply reduction function 
  for item in sequence[1:]:
   result = anyfunc(result, item)

  return result

In [36]:
# test myreduce function
def sum(x,y): return x + y

In [38]:
print (myreduce(sum, [1,2,3]))

6

1.2 Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [40]:
# Custom filter function 
def myfilter(anyfunc, sequence):

 # Initialize empty list
 result = []
 # iterate over sequence of items in sequence and apply filter function
 for i in sequence:
  if anyfunc(i):
   result.append(i)

 # return funal output
 return result

In [41]:
# test myfilter function
def ispositive(x):
 if (x <= 0): 
  return False 
 else: 
  return True

In [42]:
print(myfilter(ispositive, [0,1,-2,3,4,5]))

[1, 3, 4, 5]

2. Implement List comprehensions to produce the following lists.
Write List comprehensions to produce the following Lists

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [27]:
S = 'ACADGILD'
[x for x in S if x !=" "]

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

In [3]:
[l*i for l in 'xyz' for i in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [10]:
[i*l for l in range(1,5) for i in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [26]:
input_list = [2,3,4]
result = [ [i+n] for i in input_list for n in range(0,3)]
print(result)

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [23]:
input_list = [2,3,4,5]
result =  [[i+n for i in input_list] for n in range(0,4)  ]
print(result)

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [25]:
input_list=[1,2,3]
result = [ (b,a) for a in input_list for b in input_list]
print(result)

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]